<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="submitForm()"
>
  <ng-container *nzModalContent>
    <form
      nz-form
      [nzLayout]="'inline'"
      [formGroup]="validateForm"
      class="row"
      style="row-gap: 10px"
    >
      <nz-form-item>
        <nz-form-control
          i18n-nzErrorTip
          nzErrorTip="Please Enter Employee Name!"
        >
          <nz-input-group nzPrefixIcon="user">
            <input
              formControlName="name"
              nz-input
              placeholder="Employee Name"
              i18n-placeholder
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          i18n-nzErrorTip
          nzErrorTip="Please Enter Employee Identification!"
        >
          <nz-input-group nzPrefixIcon="number">
            <input
              formControlName="employeeIdentification"
              nz-input
              placeholder="Enter Employee Identification"
              i18n-placeholder
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          i18n-nzErrorTip
          nzErrorTip="Please Enter Employee Mobile!"
        >
          <nz-input-group nzPrefixIcon="mobile">
            <input
              formControlName="employeeMobile"
              nz-input
              placeholder="Enter Employee Mobile"
              i18n-placeholder
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="phone">
            <input
              type="number"
              formControlName="employeePhone"
              nz-input
              placeholder="Enter Employee Phone"
              i18n-placeholder
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control i18n-nzErrorTip nzErrorTip="Please Choose Hire Date!">
          <nz-date-picker
            formControlName="hireDate"
            placeholder="Choose Hire Date"
            i18n-placeholder
            style="width: 100%"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-select
          formControlName="departId"
          nzPlaceHolder="Select Department"
          i18n-nzPlaceHolder
          style="width: 100%"
        >
          <nz-option
            *ngFor="let department of this.departmentService.departments"
            [nzLabel]="department.name"
            [nzValue]="department.id"
          />
        </nz-select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          i18n-nzErrorTip
          nzErrorTip="Please Enter Employee Position!"
        >
          <nz-input-group nzPrefixIcon="team">
            <input
              formControlName="position"
              nz-input
              placeholder="Position"
              i18n-placeholder
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-select
          formControlName="active"
          nzPlaceHolder=""
          style="width: 100%"
        >
          <nz-option nzLabel="Active" [nzValue]="true" />
          <nz-option nzLabel="Inactive" [nzValue]="false" />
        </nz-select>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
