<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Employee List</h1>
  </div>
  <div class="d-flex" style="justify-content: flex-end">
    <button nz-button nzType="primary" (click)="showRegisterEmployeeDialog()">Create</button>
  </div>
  <div>
    <nz-table #employeeTable [nzData]="employees">
      <thead> 
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Department</th>
          <th>Hire Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeTable.data">
          <td>{{ employee.name }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.departmentName }}</td>
          <td>{{ employee.hireDate }}</td>
          <td>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<app-register-employee-dialog></app-register-employee-dialog>
